
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<section class="container">
    <div class="row justify-content-around mt-5 text-center">
        <div class="col-sm-8">
            <H3>CRUD PROJECT IN PYTHON DJANGO</H3>
        </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-4">
            
                <form action="" method="POST" class="bg-white p-3 rounded shadow">
                {% block 'error'%} INPUT FIELD IS BLANK {% endblock 'error'%}
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
            </div>
        </div>
        

    </section>
{% endblock content %}